<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/bootstrap.min.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <style>
    a.active{
        background-color: aquamarine;
    }
    </style>
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-expand-sm bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Dota</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
              
              {% for attribute in attributes %}
              <li class="nav-item">
                <a  class="nav-link" href="/?attributes={{attribute.id}}">{{attribute.attribute|title}}</a>
            </li>
          {% endfor %}
          <li>
            <a  class="nav-link" href="/search">Поиск</a>
          </li>
          <li>
            <a  class="nav-link" href="/create">Добавление</a>
          </li>
          </div>
          <form action="/set-welcome/">
            <input type="text" name="message" class="form-controll mr-2 ml-2">
          </form>
        </div>
      </nav>
    
    {% block content %}
      
    {% endblock %}
  </div>
</body>
</html>