{% extends "__layout.twig" %}

{% block content %}
{% from "button.twig" import btn %}
<h1>{{hero_name}}</h1>
<ul class="nav nav-pills">
    <li class="nav-item">
        {{ btn("Картинка", "#{dota_hero.id}?show=image", not is_image ? "light") }}
    </li>
    <li class="nav-item">
        {{btn("История", "#{dota_hero.id}?show=description", not is_description ? "light")}}
    </li>
</ul>

<div class="container">
    {% block objectContent %}{% endblock %}
</div>
{% endblock %}
