{% extends "__object.twig" %}
{% block objectContent %}
<div>
   <strong> История:    Он родился средним сыном в великой династии Талин. В то время как его старшего брата готовили к трону, а младшего окружали удовольствиями и заботой, середнячок оказался прирожденным невидимкой. Всю свою жизнь он оттачивал это искусство, и именно оно спасло его в тот роковой день, когда его народ предали, а родных убили. Не выжил никто из царской семьи — кроме незаметной, ловкой и хитрой тени в клубах дыма. Внезапно нападая и бесшумно взрезая глотки врагов, сирота сбежал с монарших владений. Ныне свободный от престола, бесшумный убийца предоставляет иные услуги. Он оставляет врагов безмолвными навечно и оттачивает своё мастерство, надеясь когда-нибудь отомстить тем, кто убил его семью и лишил его прав наследника.</strong>
</div>
{% endblock %}
